@use "../config/variables" as var;
.date {
  box-sizing: border-box;
  background-color: rgba(var.$navy, 0.5);
  padding: 4px 32px;
  border-radius: 24px;
  width: 360px;
  max-width: 60%;
  margin: 0 auto;
  font-size: 0.68rem;
  text-align: center;
  @media screen and (max-width: 600px) {
    font-size: 0.6rem;
  }
}
