@use "../config//variables" as var;
@use "../config//mixin" as mix;

.container {
  box-sizing: border-box;
  background-color: var.$navy;
  height: calc(100vh - 118px);
  width: 25%;
  position: fixed;
  top: 118px;
  left: 0;
  border: 1px solid var.$navy;
  z-index: 3000;
  @media screen and (max-width: 1000px) {
    max-width: 90px;
  }
  @media screen and (max-width: 600px) {
    max-width: 70px;
    height: calc(100vh - 80.72px);
    top: 80.72px;
  }
}

.memberList {
  height: calc(100% - 85px);
  & .userList {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: auto;
    height: 100%;
    width: 100%;
    &.group {
      height: 220px;
      max-height: 50%;
    }
    &.invite {
      height: 220px;
      max-height: 50%;
      margin: 30px 0;
    }
    @media screen and (max-width: 1000px) {
      overflow-x: hidden;
    }
  }
}

.listTitle {
  font-weight: bold;
  font-size: 1.3rem;
  margin: 30px auto;
  @media screen and (max-width: 1000px) {
    font-size: 0.65rem;
  }
}

.user {
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 100%;
  padding: 15px;
  cursor: pointer;
  border-radius: 6px;
  & p {
    flex-grow: 1;
  }
  @media screen and (max-width: 1000px) {
    & p {
      display: none;
    }
  }
  @include mix.hoverColor(lighten(var.$white, 20)) {
    background-color: lighten(var.$black, 20);
    & img {
      opacity: 0.6;
    }
  }
}

.active {
  background-color: var.$gray;
  box-shadow: inset -3px 3px 10px darken(var.$gray, 10);
}

.passive {
  background-color: var.$navy;
}

.buttonGroup {
  padding: 0 5%;
  box-sizing: border-box;
  width: 100%;
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  @media screen and (max-width: 1000px) {
    bottom: 2%;
  }
}

.label {
  width: 100%;
}

.loading {
  text-align: center;
  width: 100%;
  @media screen and (max-width: 600px) {
    font-size: 0.6rem;
  }
}

.nobody {
  font-size: 1rem;
  @media screen and (max-width: 600px) {
    font-size: 0.8rem;
  }
}
